<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inscription</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input [(ngModel)]="name" label="Nom complet"></ion-input>
      <ion-input [(ngModel)]="email" label="Email" type="email"></ion-input>
      <ion-input
        [(ngModel)]="password"
        label="Mot de passe"
        type="password"
      ></ion-input>

      <ion-label>Rôle</ion-label>
      <ion-select [(ngModel)]="role">
        <ion-select-option value="freelancer">Freelancer</ion-select-option>
        <ion-select-option value="client">Client</ion-select-option>
        <ion-select-option value="admin">Admin (test)</ion-select-option>
      </ion-select>

      <ion-button expand="block" (click)="register()" class="ion-margin-top"
        >S'inscrire</ion-button
      >
      <ion-button
        expand="block"
        fill="outline"
        routerLink="/login"
        routerDirection="forward"
        >Déjà un compte ?</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
