<ion-header
  ><ion-toolbar color="primary"
    ><ion-title>Offres & Projets</ion-title></ion-toolbar
  ></ion-header
>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Publier une nouvelle offre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input
        label="Titre du projet"
        placeholder="Site e-commerce avec Ionic"
      ></ion-input>
      <ion-textarea
        label="Description"
        placeholder="Détails du projet..."
      ></ion-textarea>
      <ion-input
        label="Budget (TND)"
        type="number"
        placeholder="500"
      ></ion-input>
      <ion-button expand="block" color="success">Publier l’offre</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
